@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-content: center;
    text-align: center;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
}
svg{
    overflow: visible;
    position: absolute;
}
svg.top {
    /* transform: scale(1); */
    left: 0;
    top: 0;
    width: calc(480px*2);
    height: calc(480px*2);
}
svg.bottom {
    bottom: 0;
    right: 0;
    width: 713px;
    height: 589px;
    /* transform: scale(0.8); */
}
.main_card {
    background-color: #fff;
    width: 420px;
    max-width: 80%;
    height: 420px;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    z-index: 1;
    margin: 0 auto;
}
.bg_img {
    background-image: url(./images/bg-pattern-card.svg);
    background-repeat: round;
    height: 80%;
}
img {
    position: relative;
    top: 60%;
    width: 130px;
    border-radius: 50%;
    border: 8px solid white;
}

.center {
    /* width: 50%; */
    height: 80%;
}
h3 span {
    color: hsl(227, 10%, 46%);
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    padding: 8px;
}
h3 {
    color: hsl(229, 23%, 23%);
    position: relative;
    top: 50%;
    font-size: 25px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    padding: 6px;
}
h2 {
    color: hsl(229, 23%, 23%);
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    position: relative;
    top: 40px;
}
.center span {
    position: relative;
    top: 50%;
    color: hsl(227, 10%, 46%);
    font-family: "Kumbh Sans", sans-serif;
}
p {
    color: hsl(227, 10%, 46%);
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    top: 55px;
}
.footer_card {
    border-top: 1px solid #ccc;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.footer_card p {
    letter-spacing: 2px;
}

@media screen and (max-width: 375px) {
    svg.top, svg.buttom {
        height: 250px;
        width: 250px;
    }
    svg ellipse {
        rx: 250px;
        ry: 250px;
    }
    svg.top ellipse{
        transform: translate(-550px, -450px);
    }
    svg.bottom ellipse{
        transform: scale(1, -1) rotate(44deg, 1750, 350);
    }
}

.attribution {
    font-size: 14px;
    text-align: center;
    padding-top: 8px;
}
.attribution a {
    color: hsl(229, 23%, 23%);
}
