@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-content: center;
    text-align: center;
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
}
.top {
    position: absolute;
    transform: scale(1.5);
    left: 6rem;
    top: 0;
}
.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: scale(1.5);
}
.main_card {
    background-color: #fff;
    width: 500px;
    height: 560px;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
    z-index: 1;
}
.bg_img {
    width: 100%;
    background-image: url(./images/bg-pattern-card.svg);
    height: 80%;
}
img {
    position: relative;
    top: 60%;
    width: 150px;
    border-radius: 50%;
    border: 8px solid white;
}

.center {
    /* width: 50%; */
    height: 80%;
}
span {
    color: hsl(227, 10%, 46%);
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 28px;
    padding: 6px;
}
h3 {
    color: hsl(229, 23%, 23%);
    position: relative;
    top: 50%;
    /* text-align: center;
    justify-content: center; */
    font-size: 30px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    padding: 6px;
}
h2 {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    position: relative;
    top: 50px;
}
.center p {
    position: relative;
    top: 60%;
}
p {
    color: hsl(227, 10%, 46%);
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    position: relative;
    top: 55px;
}
.footer_card {
    border-top: 1px solid #ccc;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.footer_card p {
    letter-spacing: 2px;
}

@media screen and (max-width: 375px) {
    body {
        min-height: 667px;
    }
    .main_card {
        display: grid;
        height: 70vh;
        width: 92%;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 18px;
    }
    span {
        font-size: 18px;
    }
    p {
        font-size: 18px;
    }
    img {
        width: 40%;
    }
    .top {
        transform: scale(1);
        position: absolute;
        left: 0%;
    }
    .bottom {
        width: 55%;
        height: 60%;
        position: absolute;
    }
}

.attribution {
    font-size: 14px;
    text-align: center;
    padding-top: 8px;
}
.attribution a {
    color: hsl(229, 23%, 23%);
}
